---
interface Props {
  service?: string;
  details?: string[];
  additionalInputs?: boolean;
  mainInputFieldPlaceholder: string;
  additionalInputNames?: string[];
}

const {
  service,
  details,
  additionalInputs,
  mainInputFieldPlaceholder,
  additionalInputNames,
} = Astro.props;
---

<h1 class="font-black text-base uppercase text-app-light-gray">
  {service}
</h1>
<ul class="text-xs opacity-50 font-semibold pb-2">
  {details && details.map((d) => <li>{d}</li>)}
</ul>
<form method="POST">
  <div class="flex">
    <input
      autocorrect="off"
      type="text"
      name="letters"
      id="default-search"
      placeholder={mainInputFieldPlaceholder}
      class="block uppercase w-full p-4 pl-2 text-xl font-black items-center placeholder:text-xs rounded-lg text-center text-app-light-gray bg-slate-800 focus:bg-app-dark-blue focus:outline-none"
      required
    />
    {
      !additionalInputs && (
        <button
          id="submit-knapp"
          class="block uppercase w-4/12 p-4 text-xs ml-2 font-black items-center placeholder:text-xs rounded-lg text-center text-app-light-gray bg-app-dark-blue opacity-75"
        >
          Search
        </button>
      )
    }
  </div>
  {
    additionalInputs && additionalInputNames && (
      <div class="flex justify-evenly">
        <input
          autocorrect="off"
          type="text"
          name="extra-field-1"
          id="extra-field-1"
          placeholder={additionalInputNames[0]}
          class="block uppercase w-1/2 my-2 mr-1 p-2 pl-2 text-xl font-black placeholder:text-xs items-center rounded-lg text-center text-app-light-gray bg-slate-800 focus:bg-app-dark-blue focus:outline-none"
        />
        <input
          autocorrect="off"
          type="text"
          name="extra-field-2"
          id="extra-field-2"
          placeholder={additionalInputNames[1]}
          class="block uppercase w-1/2 my-2 ml-1 p-2 pl-2 text-xl font-black placeholder:text-xs items-center rounded-lg text-center text-app-light-gray bg-slate-800 focus:bg-app-dark-blue focus:outline-none"
        />
        <button
          id="submit-knapp"
          class="block uppercase w-1/3 my-2 ml-2 p-2 text-xs font-black placeholder:text-xs items-center rounded-lg text-center text-app-light-gray bg-app-dark-blue opacity-75"
        >
          Search
        </button>
      </div>
    )
  }
</form>
